@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    --fire: #ff6d00;
    --electric: #64d3ff;
}

* {
    margin: 0;
    padding: 0;
}

button {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text-white);
    font-family: "Poppins", sans-serif;
}


/* Header */
#main-header {
    background: linear-gradient(to bottom, #121e3c, var(--background));
    display: flex;
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.carrito-icono {
    flex: 0 0 auto;
    margin-right: 2rem;
    margin-left: 9rem;
}

.nucba-icono {
    flex: 0 0 auto;
    margin-left: 2rem;
}

.nav-links {
    display: flex;
    flex: 1;  
    justify-content: flex-end; 
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: var(--text-gray);
}

nav a::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: var(--text-gray);
    transition: width 0.2s ease, right 0.2s ease;
}

nav a:hover::after {
    width: 100%;
    right: 0;
}

.home {
    color: var(--text-white);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Seccion inicial */

#seccion-inicial {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#info-pagina {
    width: 500px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#info-pagina h1 {
    font-size: 3rem;
    margin-bottom: 2rem;

    opacity: 0;
    animation: fade 1s ease-in forwards, slide-up 1.3s ease-in-out;
    animation-delay: 0.3s;
}

#info-pagina p {
    color: var(--text-gray);
    margin-bottom: 2rem;
    font-size: 14px;
    width: 85%;

    opacity: 0;
    animation: fade 1s ease-in forwards, slide-up 1.3s ease-in-out;
    animation-delay: 0.4s;
}

#info-pagina button {
    border-style: none;
    color: var(--text-white);
    background-color: var(--primary);
    width: 8rem;
    height: 2.4rem;
    border-radius: .8rem;
    font-weight: 500;
    font-size: .9rem;
    transition: background-color 0.3s ease;

    opacity: 0;
    animation: fade 1s ease-in forwards, slide-up 1.3s ease-in-out;
    animation-delay: 0.5s;
}

#info-pagina button:hover {
    background-color: var(--fire);
}


.cartita {
    padding: 1.2rem;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: 1rem;

    opacity: 0;
    animation: fade 1s ease-in forwards, slide-right 1.3s ease-in-out;
    animation-delay: 0.1s;

}

@keyframes fade {
    to {
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(100PX);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100PX);
    }
    to {
        transform: translateY(0);
    }
}

.cartita h3 {
    font-size: 1rem;
}

.cartita img {
    width: 100%;
    align-self: center;
    margin-bottom: 1.2rem;
}

.titulo-carta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .6rem;
}

.titulo-carta button {
    background-color: #1e50ff;
    border-style: none;
    width: 3rem;
    height: 2rem;
    border-radius: .5rem;
    font-weight: 500;
    color: var(--text-white);
    font-size: 1rem;
}

.info-carta {
    display: flex;
    justify-content: space-between;
}

.creador-carta {
    display: flex;
    align-items: center;
}

.texto-carta {
    align-items: center;
}

.p1 {
    font-size: 14px;
    color: var(--text-gray);
}

.imagen-creador {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

/* Seccion dos */
#seccion-dos {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccion-dos h2 {
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: bold;

    opacity: 0;
    animation: fade 1s ease-in forwards, slide-up 1.3s ease-in-out;
    animation-delay: 0.3s;
}

.cuadros {
    display: flex;
    gap: 1.3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.cuadro-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 260px;
    min-height: 270px;
    background-color: var(--secondary);
    border-radius: 1.5rem;
}

.cuadro-info:nth-child(1){
    opacity: 0;
    animation: fade 1s ease-in forwards, slide-up 1.3s ease-in-out;
    animation-delay: 0.7s;
}

.cuadro-info:nth-child(2){
    opacity: 0;
    animation: fade 1s ease-in forwards, slide-up 1.3s ease-in-out;
    animation-delay: 1s;
}

.cuadro-info:nth-child(3){
    opacity: 0;
    animation: fade 1s ease-in forwards, slide-up 1.3s ease-in-out;
    animation-delay: 1.2s;
}

.cuadro-info img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cuadro-info p {
    margin-top: 20px;
    font-size: 14px;
    color: var(--text-gray);
    text-align: center;
}

/* Sección tres */
#seccion-tres {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccion-contenedor {
    display: flex;
    justify-content: center;
}

#header-seccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    font-size: 16px;
}

#header-seccion h2 {
    font-size: 2rem;
    font-weight: bold;
    max-width: 500px;
    margin-bottom: 2rem;
}

#texto-seccion-tres {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    color: var(--text-gray);
}

#texto-seccion-tres a {
    color: var(--text-white);
    font-weight: bold;
}

.imagenes-seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.imagenes-seccion img {
    min-height: 300px;
    width: 350px;
}

/* Seccion cuatro */

#seccion-cuatro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

#seccion-cuatro h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#seccion-cuatro nav {
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.boton {
    border-style: none;
    width: 90px;
    height: 2.5rem;
    color: var(--text-white);
    background-color: var(--btn-bg);
    border-radius: 8px;
}

.active {
    background-color: var(--primary);
}

.cartas-grandes {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 1rem;
}

.carta-grande {
    padding: 1.2rem;
    width: 350px;
    height: 550px;
    border-radius: 2rem;
    background-color: var(--secondary);
}

.carta-grande img {
    width: 100%;
    margin-bottom: 1rem;
    transition: transform 0.4s ease;
}

.carta-grande img:hover {
    transform: scale(1.02);
}

.info-carta-grande {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-carta-grande {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
}

.img-texto {
    display: flex;
    /* flex-direction: row;*/
    align-items: center; 
    column-gap: 10px;
}

/* .img-texto img {
    width: 24px;
    /* height: 30px;
} */

/* .imagen-creador2 {
    width: 40px;
    height: 40px;
} */

.imagen-fuego {
    width: 40px;
}

.texto-carta-grande button{
    border-style: none;
    height: 40px;
    width: 90px;
    background-color: var(--primary);
    border-radius: 8px;
    color: var(--text-white);
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.texto-carta-grande button:hover {
    background-color: var(--fire);
}

.boton-ver-mas {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.boton-ver-mas button {
    color: var(--text-white);
    background-color: var(--background);
    height: 45px;
    width: 110px;
    border-radius: 12px;
    border: 1px solid var(--electric);
    transition: background-color 0.3s ease;
}

.boton-ver-mas button:hover {
    background-color: var(--electric);
}

/* footer */
footer{
    color: var(--text-gray);
    font-size: 14px;
}

.info-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.info-footer a {
    text-decoration: none;
    color: var(--text-gray);
}

.p-footer {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .cartita {
        display: none;
    }

    #info-pagina {
        text-align: center;
    }

    #info-pagina p {
        width: 100%;
    }

    #header-seccion {
        text-align: center;
    }
    
}

@media (max-width: 860px){
    .nav-links {
        display: none;
    }
}