@media (max-width: 1000px) {
    .cartita {
        display: none;
    }

    #info-pagina {
        text-align: center;
    }

    #info-pagina p {
        width: 100%;
    }

    #header-seccion {
        text-align: center;
    }
    
}

@media (max-width: 860px){
    .nav-links {
        display: none;
    }
}