@media (max-width: 1000px) {
    .cartita {
        display: none;
    }

    #info-pagina {
        text-align: center;
    }

    #info-pagina p {
        width: 100%;
    }

    #header-seccion {
        text-align: center;
    }
    
}

@media (max-width: 860px){
    .nav-links {
        display: none;
    }

    .titulo-seccion2 {
        text-align: center;
    }

    #seccion-cuatro nav {
        width: 400px;
    }

    .boton {
        flex: 1 1 30%;
        width: 100px;
        height: 2.8rem;
        font-size: 1rem;
    }
}